In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import re
train = pd.read_csv(r"C:\Users\raven\Downloads\sf-crime\train.csv\train.csv")
test  = pd.read_csv(r"C:\Users\raven\Downloads\sf-crime\test.csv\test.csv")
train1 = train.drop(['Descript', 'Resolution'], axis = 1)

In [61]:
train1 = train1.query('Y != 90')

In [62]:
# Case8 DayOfWeekのみone-hot train1.ver

Dt = pd.to_datetime(train1['Dates'])
train1['Date'] = Dt.dt.date
train1['Year'] = Dt.dt.year
train1['Month'] = Dt.dt.month
train1['Day'] = Dt.dt.day
train1['Hour'] = Dt.dt.hour
train1.drop(['Dates'], axis = 1, inplace = True)

count_encoding = train1['PdDistrict'].value_counts().to_dict()
train1['PdDistrict'] = train1['PdDistrict'].map(count_encoding)

Ad_dict = {'.* / .*':0, '.*':1}
train1['Address'] = train1['Address'].replace(Ad_dict,regex = True)

le = LabelEncoder()
train1['Category'] = le.fit_transform(train1['Category'])

train1_DOW = pd.get_dummies(train1['DayOfWeek'])

train1 = pd.concat([train1, train1_DOW], axis = 1)

train1.drop(['DayOfWeek'], axis = 1, inplace=True)

train1.head()

,Category,PdDistrict,Address,X,Y,Date,Year,Month,Day,Hour,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,37,105284,0,-122.425892,37.774599,2015-05-13,2015,5,13,23,0,0,0,0,0,0,1
1,21,105284,0,-122.425892,37.774599,2015-05-13,2015,5,13,23,0,0,0,0,0,0,1
2,21,105284,0,-122.424363,37.800414,2015-05-13,2015,5,13,23,0,0,0,0,0,0,1
3,16,105284,1,-122.426995,37.800873,2015-05-13,2015,5,13,23,0,0,0,0,0,0,1
4,16,49311,1,-122.438738,37.771541,2015-05-13,2015,5,13,23,0,0,0,0,0,0,1

In [63]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [64]:
# Case8 DayOfWeekのみone-hot test.ver

Dt = pd.to_datetime(test['Dates'])
test['Date'] = Dt.dt.date
test['Year'] = Dt.dt.year
test['Month'] = Dt.dt.month
test['Day'] = Dt.dt.day
test['Hour'] = Dt.dt.hour
test.drop(['Dates'], axis = 1, inplace = True)

count_encoding = test['PdDistrict'].value_counts().to_dict()
test['PdDistrict'] = test['PdDistrict'].map(count_encoding)

Ad_dict = {'.* / .*':0, '.*':1}
test['Address'] = test['Address'].replace(Ad_dict,regex = True)


test_DOW = pd.get_dummies(test['DayOfWeek'])

test = pd.concat([test, test_DOW], axis = 1)

test.drop(['DayOfWeek'], axis = 1, inplace=True)

test.head()

,Id,PdDistrict,Address,X,Y,Date,Year,Month,Day,Hour,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,89591,1,-122.399588,37.735051,2015-05-10,2015,5,10,23,0,0,0,1,0,0,0
1,1,89591,0,-122.391523,37.732432,2015-05-10,2015,5,10,23,0,0,0,1,0,0,0
2,2,107017,1,-122.426002,37.792212,2015-05-10,2015,5,10,23,0,0,0,1,0,0,0
3,3,80084,1,-122.437394,37.721412,2015-05-10,2015,5,10,23,0,0,0,1,0,0,0
4,4,80084,1,-122.437394,37.721412,2015-05-10,2015,5,10,23,0,0,0,1,0,0,0