In [214]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import re

In [215]:
train = pd.read_csv(r"C:\Users\raven\Downloads\sf-crime\train.csv\train.csv")
test  = pd.read_csv(r"C:\Users\raven\Downloads\sf-crime\test.csv\test.csv")

In [216]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [217]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [218]:
train1 = train.drop(['Descript', 'Resolution'], axis = 1)
train1.head()

,Dates,Category,DayOfWeek,PdDistrict,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541

In [219]:
train1 = train1.query('Y != 90')
# 外れ値除去

In [220]:
#  Test data
# Dt = pd.to_datetime(test['Dates'])
# test['Date'] = Dt.dt.date
# test['Year'] = Dt.dt.year
# test['Month'] = Dt.dt.month
# test['Day'] = Dt.dt.day
# test['Hour'] = Dt.dt.hour
# test.drop(["Dates"], axis = 1, inplace = True)
# le = LabelEncoder()
# test['DayOfWeek'] = le.fit_transform(test['DayOfWeek'])
# count_encoding = test['PdDistrict'].value_counts().to_dict()
# test['PdDistrict'] = test['PdDistrict'].map(count_encoding)
# test.head()

In [221]:
Dt = pd.to_datetime(train1['Dates'])
train1['Date'] = Dt.dt.date
train1['Year'] = Dt.dt.year
train1['Month'] = Dt.dt.month
train1['Day'] = Dt.dt.day
train1['Hour'] = Dt.dt.hour
train1.drop(["Dates"], axis = 1, inplace = True)

le = LabelEncoder()
train1['DayOfWeek'] = le.fit_transform(train1['DayOfWeek'])

count_encoding = train1['PdDistrict'].value_counts().to_dict()
train1['PdDistrict'] = train1['PdDistrict'].map(count_encoding)

Ad_dict = {'.*?ST / .*?ST':0, '.*?AV / .*?AV':1, '.*?ST / .*?AV':2, '.*?AV / .*?ST':2, '.*?ST':3, '.*?AV':4}
train1['Address'] = train1['Address'].replace(Ad_dict,regex = True)
train1['Address'].unique()

train1['Category'] = le.fit_transform(train1['Category'])

train1.head()
# # DayOfWeek...label, PdDistrict...count

,Category,DayOfWeek,PdDistrict,Address,X,Y,Date,Year,Month,Day,Hour
0,37,6,105284,0,-122.425892,37.774599,2015-05-13,2015,5,13,23
1,21,6,105284,0,-122.425892,37.774599,2015-05-13,2015,5,13,23
2,21,6,105284,2,-122.424363,37.800414,2015-05-13,2015,5,13,23
3,16,6,105284,3,-122.426995,37.800873,2015-05-13,2015,5,13,23
4,16,6,49311,3,-122.438738,37.771541,2015-05-13,2015,5,13,23

In [222]:
# Dt = pd.to_datetime(train1['Dates'])
# train1['Date'] = Dt.dt.date
# train1['Year'] = Dt.dt.year
# train1['Month'] = Dt.dt.month
# train1['Day'] = Dt.dt.day
# train1['Hour'] = Dt.dt.hour
# train1.drop(["Dates"], axis = 1, inplace = True)
# le = LabelEncoder()
# train1['DayOfWeek'] = le.fit_transform(train1['DayOfWeek'])
# train1['PdDistrict'] = le.fit_transform(train1['PdDistrict'])
# train1.head()
# # DayOfWeek, PdDistrict...label

In [223]:
# Dt = pd.to_datetime(train1['Dates'])
# train1['Date'] = Dt.dt.date
# train1['Year'] = Dt.dt.year
# train1['Month'] = Dt.dt.month
# train1['Day'] = Dt.dt.day
# train1['Hour'] = Dt.dt.hour
# train1.drop(["Dates"], axis = 1, inplace = True)
# DOW_mapping = {'Monday':1, 'Tuesday':1, 'Wednesday':1, 'Thursday':1, 'Friday':1, 'Saturday':0, 'Sunday':0}
# train1['DayOfWeek'] = train1['DayOfWeek'].map(DOW_mapping)
# count_encoding = train1['PdDistrict'].value_counts().to_dict()
# train1['PdDistrict'] = train1['PdDistrict'].map(count_encoding)
# train1.head()
# # DayOfWeek...平日休日mapping, PdDistrict...count

In [224]:
cols = ['DayOfWeek', 'PdDistrict', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour']

X = train1[cols]
Y = train1['Category']

X_test = test[cols]

KeyError: "['Year', 'Month', 'Day', 'Hour'] not in index"

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, Y, test_size = 0.3, random_state = 1219)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=0, max_depth=6)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_val)

from sklearn.metrics import accuracy_score
print ("Train Accuracy: ", accuracy_score(y_train, rf.predict(X_val)))
print ("Test Accuracy: ", accuracy_score(y_val, y_pred))

ValueError: Found input variables with inconsistent numbers of samples: [614587, 263395]